/*style page for Aloha - reset page in different file */
/*Font-face file links below*/
@font-face {
    font-family:'raleway';
    src: url('fonts/raleway-light-webfont.eot');
    src: url('fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-light-webfont.woff') format('woff'),
         url('fonts/raleway-light-webfont.ttf') format('truetype'),
         url('fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'raleway';
    src: url('fonts/raleway-medium-webfont.eot');
    src: url('fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-medium-webfont.woff') format('woff'),
         url('fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway';
    src: url('fonts/raleway-lightitalic-webfont.eot');
    src: url('fonts/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-lightitalic-webfont.woff') format('woff'),
         url('fonts/raleway-lightitalic-webfont.ttf') format('truetype'),
         url('fonts/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family:'raleway';
    src: url('fonts/raleway-mediumitalic-webfont.eot');
    src: url('fonts/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-mediumitalic-webfont.woff') format('woff'),
         url('fonts/raleway-mediumitalic-webfont.ttf') format('truetype'),
         url('fonts/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'playfair';
    src: url('fonts/playfairdisplay-bold-webfont.eot');
    src: url('fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-bold-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'playfair';
    src: url('fonts/playfairdisplay-bolditalic-webfont.eot');
    src: url('fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-bolditalic-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'playfair';
    src: url('fonts/playfairdisplay-italic-webfont.eot');
    src: url('fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-italic-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'playfair';
    src: url('fonts/playfairdisplay-regular-webfont.eot');
    src: url('fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-regular-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*END of font-face file links*/

/*Most or all of font and text styling*/
body {
    font-family:'raleway', sans-serif;
    text-align:center;
    font-size:14px;
    color:#2d2d2d;
    line-height:2;
}
p {
    font-size:1rem;
    margin-right:3%;
    margin-left:3%;
    font-family:'raleway', sans-serif;
    font-weight:lighter;
}
h1 {
    font-family:'playfair', sans-serif;
    font-size:2.3rem;
}
h2 {
    font-size:2.1rem;
    padding-top:7%;
    padding-bottom:3%;
    display:inline-block;
    line-height:1.5;
}
.italic {
    font-family:'playfair', sans-serif;
    padding-right: 1%;
    font-style:italic;
}
.bold {
    font-family:'playfair', sans-serif;
    font-weight:bold;
}
h3 {
    font-family:'playfair', sans-serif;
    font-size:1.3rem;
    color:#e2574c;
    padding-top:2%;
    padding-bottom:2%;
    line-height:1.5;
    font-weight:lighter;
}
h4 {
    text-transform:uppercase;
    font-family:'raleway', sans-serif;
    font-size: 1.1rem;
}
h5{
    text-transform:uppercase;
    font-family:'raleway', sans-serif;
    color:#969696;
    font-size:.7rem;
    line-height: 1.5;
}
.price {
    font-size: 1rem;
}
h6{
    font-family:'playfair', sans-serif;
    padding-bottom:2%;
    font-size:14px;
}

/*Header styling*/

header {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    padding:0% 5%;
}
.logo img, .cart-img img {
    height:45px;
    flex:1 0 50%;
   
}
.logo img{
     align-self: flex-start;
     padding-top:5px;
}
.cart-img img {
    align-self:flex-end;
     padding-top:5px;
}
.nav-bar{
    display:flex;
    flex:1 0 100%;
    justify-content:space-around;
    border-top:1px solid #d7d7d7;
    padding:1% 0;
}
.nav-bar a{
    text-transform:uppercase;
    text-decoration:none;
    color:rgb(226, 87, 76);
}
/*Banner section styling*/
.banner {
    background:linear-gradient( to bottom, rgba(0,0,0,0.275) 0%, rgba(0,0,0,0.275) 100%), 
                url(images/banner-girl.png)no-repeat center 0px,
                url(images/flower-bkgd.jpg)repeat-x center top;
    height:375px;
    background-size:cover, auto 355px, cover;
    background-position-y: 0px, 48px, 0px;
    position:relative;
}
.banner-text{
    color:white;     
    position:absolute;
    top:50%;
    width:100%;
    transform:translate(0,-50%)
}
/*end of banner styling*/

/*about-styles section styling --not much to be done here -- */
.about-styles {
    padding-bottom:7%;
}

/*categories styling section ***************/
.categories {
    display:flex;
    flex-wrap:wrap;
}
.categories a{
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    text-transform:uppercase;
    color:white;
    font-size:1.4rem;
}
.mens {
    background:linear-gradient( to bottom, rgba(0,0,0,0.275) 0%, rgba(0,0,0,0.275) 100%),
    url(images/mens-category.jpg)no-repeat center center;
    background-size:cover;
    background-repeat: no-repeat;
    flex:1 1 100%;
    width:400px;
    height:208px;
    border-bottom:3px solid white;
       
}
.trends {
    background:linear-gradient( to bottom, rgba(0,0,0,0.275) 0%, rgba(0,0,0,0.275) 100%),
    url(images/trends-category.jpg)no-repeat center center;
    background-size:cover;
    flex:1 1 49%;
    width:197px;
    height:200px;
    border-right:3px solid white;
    border-top:3px solid white;
    border-bottom:3px solid white;
}
.glasses {
    background:linear-gradient( to bottom, rgba(0,0,0,0.275) 0%, rgba(0,0,0,0.275) 100%),
    url(images/glasses-category.jpg)no-repeat center center;
    background-size:cover;
    flex:1 1 49%;
    width:197px;
    height:200px;
    border-left:3px solid white;
    border-top:3px solid white;
    border-bottom:3px solid white;    
}
.sale {
    background:linear-gradient( to bottom, rgba(0,0,0,0.275) 0%, rgba(0,0,0,0.275) 100%),
    url(images/sale-category.jpg)no-repeat center center;
    background-size:cover;
    flex:1 1 49%;
    width:197px;
    height:200px;
    border-right:3px solid white;
    border-top:3px solid white;
    border-bottom:3px solid white;
    
}
.bags {
    background:linear-gradient( to bottom, rgba(0,0,0,0.275) 0%, rgba(0,0,0,0.275) 100%),
    url(images/bags-category.jpg)no-repeat center center;
    background-size:cover;
    flex:1 1 49%;
    width:197px;
    height:200px;
    border-left:3px solid white;
    border-top:3px solid white;
    border-bottom:3px solid white;
}   
.womens {
    background:linear-gradient( to bottom, rgba(0,0,0,0.275) 0%, rgba(0,0,0,0.275) 100%),
    url(images/womens-category.jpg)no-repeat center center;
    background-size:cover;
    flex:1 1 100%;
    width:400px;
    height:208px;
    border-top:3px solid white;
    
}
/*Most loved products section styling***************/
.products{
    height:600px;
    padding-bottom:7%;
}
.carousel-cell {
    width: 100%;
}
.flickity-prev-next-button:disabled {
    display: none;
}
/*email sign-up form styling*/
.email-sign-up {
    background:linear-gradient(to bottom, rgba(0,0,0,0.275) 0%, rgba(0,0,0,0.275) 100%),
                url(images/wave-bkgd.jpg)no-repeat center;
    background-position-y: 0, -539px;
    background-size: 185% 254%;
    position:relative;
    height:350px;
    color:white;
    margin-bottom:1%;
}
form{
    display: block;
    position: absolute;
    width: 75%;
    margin: 20% 0 0 7%;
    top:46%;
}
input[type="email"] {
    width: 100%;
    line-height: 1.2rem;
    padding: 0.9rem 1.5rem;
}
input[type="submit"] {
    color: white;
    cursor: pointer;
    position: absolute;
    right: -2.75rem;
    top: 0.25rem;
    background: rgb(226, 87, 76);
    padding: 0.7rem 1.5rem;
}
input[type="email"], input[type="submit"] {
    font-size: 1rem;
    border-width: 0px;
    border-radius: 2rem;
}
.sign-up {
    position: absolute;
    bottom: 35%;
}
.email-sign-up h2 {
     text-shadow: 1px 1px grey;
}
/*footer styling below*/

footer {
    background:#242424;
    color:#f6fbff;
    padding-top:7%;
    padding-bottom:5%;
}
.address {
    color:darkgrey;
}
footer a, .fa {
    color:#f6fbff;
}
a:hover, a [href="mailto:info@alohaapparel.com"]:hover, .fa:hover {
    color:palevioletred;
}
.categories a:hover {
    color:palegoldenrod
}

li { 
    display:inline;
}
.social span{
    display:none;
}

/**********************************************
 I don't really understand the container class use. 
 Is it to center the content on specific screen sizes?
 Couldn't you just put width 100%?  Do I need to specify 600px?
***********************************************/
.container {
    width:600px;
    width:100%;
    margin:0 auto;
}
/* End of mobile screen optimization
******************************************************************
******************************************************************
******************************************************************

Below tablet and full screen optimization. I haven't finished optimizing the media queries
because something funky was going on when I linked them. */


@media all and (min-width: 600px) {

.container {
    width:100%;
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
}    
/*font size for paragraphs and headers*/
p {
    font-size: 1.1rem;
}
h1 {
    font-size: 3.3rem;
}

h2 {
    font-size: 2.6rem;
}
h3 {
    font-size:1.5rem;
}
h4 {
    font-size:1.4rem;
}
h5 {
    font-size:.9rem;
}
h6 { 
    font-size:1rem;
    line-height:1.5;
}
li {
    font-size:1.2rem;
    }
.contact-info {
    text-align: left;
    font-size:.5rem;
}
/***** Header styling ******/
header {
    display:flex;
    justify-content:space-between;
    flex-wrap:nowrap;
    padding:0% 5%;
}
.logo img{
    display:flex;
    flex-basis: 25%;
    order:1;
}
.cart-img img {
    display:flex;
    flex-basis: 25%;
    order:3
}
.nav-bar{
    display:flex;
    flex-basis:33%;
    order:2;
    /*justify-content:space-around;*/
    border-top:none;
    /*padding:1% 0;*/
}
/*about styling*/
.about-styles {
    width:70%;
    margin:0 auto;
}
/*categories styling section*/
.mens {
    flex:1 1 50%;
    border-right:3px solid white;
    border-bottom:3px solid white;
    height:200px;
}
.trends {
    flex:1 1 24%;
    border-left:3px solid white;
    border-bottom:3px solid white;
    border-top:none;
}
.glasses {
    flex:1 1 24%;
    border-left:3px solid white;
    border-bottom:3px solid white;
    border-top:none;
}
.sale {
    flex:1 1 24%;
    border-bottom:none;
}
.bags {
    flex:1 1 24%;
    border-right:3px solid white;
    border-bottom:none;
    height:200px;
}
.womens {
    flex:1 1 49%;
    border-left:3px solid white;
    height:200px;
}

/*products styling section */
.carousel-cell {
  width: 50%;
}

/*Email sign up styling*/
.sign-up {
    position: absolute;
    bottom: 40%;
    
}
.email-sign-up {
    background-position-y: 0,-562px;
    background-size: 130% 250%;
    height: 375px;
}
.email-sign-up p {
    width:75%;
    margin:0 auto;


}
form {
    position: absolute;
    width: 51%;
    margin:6rem auto;
    right: 29%;

}
/*Footer styling for the tablet*/
footer {
    display:flex;
    justify-content: space-between;
    text-align: left;
    padding-right:5%;
    padding-left:2%;
}
.number { 
    padding-top:4%;
    padding-bottom:4%;
}
.social span {
    display:inline;
}
.social a {
    text-decoration: none;
    font-weight:lighter;
}
.social li {
    display:flex;
    flex-flow:column;
    font-size:1rem;
    

}
}

@media all and (min-width: 1200px) {
}